/*! CSS Used from: https://foxythemes.net/preview/products/beagle/assets/lib/perfect-scrollbar/css/perfect-scrollbar.css */
.ps{overflow:hidden!important;overflow-anchor:none;-ms-overflow-style:none;touch-action:auto;-ms-touch-action:auto;}
.ps__rail-x{display:none;opacity:0;transition:background-color .2s linear, opacity .2s linear;-webkit-transition:background-color .2s linear, opacity .2s linear;height:15px;bottom:0px;position:absolute;}
.ps__rail-y{display:none;opacity:0;transition:background-color .2s linear, opacity .2s linear;-webkit-transition:background-color .2s linear, opacity .2s linear;width:15px;right:0;position:absolute;}
.ps--active-y > .ps__rail-y{display:block;background-color:transparent;}
.ps:hover > .ps__rail-x,.ps:hover > .ps__rail-y{opacity:0.6;}
.ps .ps__rail-x:hover,.ps .ps__rail-y:hover,.ps .ps__rail-x:focus,.ps .ps__rail-y:focus{background-color:#eee;opacity:0.9;}
.ps__thumb-x{background-color:#aaa;border-radius:6px;transition:background-color .2s linear, height .2s ease-in-out;-webkit-transition:background-color .2s linear, height .2s ease-in-out;height:6px;bottom:2px;position:absolute;}
.ps__thumb-y{background-color:#aaa;border-radius:6px;transition:background-color .2s linear, width .2s ease-in-out;-webkit-transition:background-color .2s linear, width .2s ease-in-out;width:6px;right:2px;position:absolute;}
.ps__rail-x:hover > .ps__thumb-x,.ps__rail-x:focus > .ps__thumb-x{background-color:#999;height:11px;}
.ps__rail-y:hover > .ps__thumb-y,.ps__rail-y:focus > .ps__thumb-y{background-color:#999;width:11px;}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
    .ps{overflow:auto!important;}
}
/*! CSS Used from: https://foxythemes.net/preview/products/beagle/assets/lib/material-design-icons/css/material-design-iconic-font.min.css */
.mdi{display:inline-block;font:normal normal normal 14px/1 'Material Icons';font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.mdi-delete:before{content:'\f154';}
.mdi-mail-send:before{content:'\f194';}
.mdi-search:before{content:'\f1c3';}
.mdi-plus:before{content:'\f278';}
.mdi-camera:before{content:'\f28c';}
.mdi-chevron-left:before{content:'\f2fa';}
.mdi-delete:before{content:'\f154';}
.mdi-mail-send:before{content:'\f194';}
.mdi-search:before{content:'\f1c3';}
.mdi-plus:before{content:'\f278';}
.mdi-camera:before{content:'\f28c';}
.mdi-chevron-left:before{content:'\f2fa';}
/*! CSS Used from: https://foxythemes.net/preview/products/beagle/assets/css/app.css */
@media print{
    *,::after,::before{text-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
    a:not(.btn){text-decoration:underline;}
    img{page-break-inside:avoid;}
    h2{orphans:3;widows:3;}
    h2{page-break-after:avoid;}
}
*,::after,::before{-webkit-box-sizing:border-box;box-sizing:border-box;}
nav{display:block;}
h2{margin-top:0;margin-bottom:.5rem;}
ul{margin-top:0;margin-bottom:1rem;}
a{color:#4285f4;text-decoration:none;background-color:transparent;}
a:hover{color:#0d5bdd;text-decoration:underline;}
img{vertical-align:middle;border-style:none;}
label{display:inline-block;margin-bottom:.5rem;}
input{margin:0;font-family:inherit;font-size:inherit;line-height:inherit;}
input{overflow:visible;}
input[type=checkbox]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0;}
h2{margin-bottom:.5rem;font-weight:300;line-height:1.1;}
h2{font-size:2.077rem;}
.custom-control{position:relative;display:block;min-height:1.428571rem;padding-left:2.2rem;}
.custom-control-input{position:absolute;z-index:-1;opacity:0;}
.custom-control-input:checked~.custom-control-label::before{color:#4285f4;border-color:#fff;background-color:#fff;}
.custom-control-input:focus~.custom-control-label::before{-webkit-box-shadow:0 0 0 2px rgba(135,135,135,.4),0 0 0 .15rem transparent;box-shadow:0 0 0 2px rgba(135,135,135,.4),0 0 0 .15rem transparent;}
.custom-control-input:focus:not(:checked)~.custom-control-label::before{border-color:#4285f4;}
.custom-control-input:not(:disabled):active~.custom-control-label::before{color:#fff;background-color:#ebf2fe;border-color:#ebf2fe;}
.custom-control-input:disabled~.custom-control-label{color:#878787;}
.custom-control-input:disabled~.custom-control-label::before{background-color:#eee;}
.custom-control-label{position:relative;margin-bottom:0;vertical-align:top;}
.custom-control-label::before{position:absolute;top:-.135714rem;left:-2.2rem;display:block;width:1.7rem;height:1.7rem;pointer-events:none;content:"";background-color:#fff;border:#a1a1a1 solid 1px;}
.custom-control-label::after{position:absolute;top:-.135714rem;left:-2.2rem;display:block;width:1.7rem;height:1.7rem;content:"";background:no-repeat 50%/50% 50%;}
.custom-checkbox .custom-control-label::before{border-radius:3px;}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{background-image:none;}
.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before{background-color:#eee;}
.custom-control-label::before{-webkit-transition:background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;transition:background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;transition:background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;transition:background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;}
@media (prefers-reduced-motion:reduce){
    .custom-control-label::before{-webkit-transition:none;transition:none;}
}
.nav{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none;}
.nav-link{display:block;padding:.5rem 1rem;}
.nav-link:focus,.nav-link:hover{text-decoration:none;}
.nav-tabs{border-bottom:1px solid #dee2e6;}
.nav-tabs .nav-item{margin-bottom:-1px;}
.nav-tabs .nav-link{border:1px solid transparent;border-top-left-radius:2px;border-top-right-radius:2px;}
.nav-tabs .nav-link:focus,.nav-tabs .nav-link:hover{border-color:#ddd #ddd #dee2e6;}
.nav-tabs .nav-link.active{color:#636c72;background-color:#eee;border-color:#dee2e6 #dee2e6 #eee;}
.nav-justified .nav-item{-ms-flex-preferred-size:0;flex-basis:0;-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;text-align:center;}
.tab-content>.tab-pane{display:none;}
.tab-content>.active{display:block;}
a:focus,a:hover{text-decoration:none;}
.be-right-sidebar{
    transition: right 0.3s ease-in-out;
    position:fixed;background-color:#fafafa;margin-top:61px;padding-bottom:61px;width:290px;height:100%;right:-290px;top:0;bottom:0;border-left:1px solid #e8e8e8;z-index:1031;}
.be-right-sidebar .sb-content{display:table;table-layout:fixed;height:100%;width:100%;}
.be-right-sidebar .tab-navigation .nav-tabs{background-color:transparent;border-bottom:0;padding:0;}
.be-right-sidebar .tab-navigation .nav-tabs>li.nav-item{margin-right:0;}
.be-right-sidebar .tab-navigation .nav-tabs>li.nav-item>a.nav-link{background-color:#f2f2f2;border-width:0;padding:15px 10px;min-width:auto;font-size:1.077rem;}
.be-right-sidebar .tab-navigation .nav-tabs>li.nav-item>a.nav-link:hover{border:0;background-color:#f6f6f6;color:#3b3b3b;}
.be-right-sidebar .tab-navigation .nav-tabs>li.nav-item>a.nav-link:focus{border:0;}
.be-right-sidebar .tab-navigation .nav-tabs>li.nav-item>a.nav-link.active{color:#4285f4;background-color:transparent;}
.be-right-sidebar:focus-within {
    right: 0;
    outline: none;
}
@media (max-width:767.98px){
    .be-right-sidebar .tab-navigation .nav-justified>li{display:table-cell;}
    .be-right-sidebar .tab-navigation .nav-justified>li>a{margin-bottom:0;min-width:40px;}
}
.be-right-sidebar .tab-panel{height:100%;display:table-row;}
.be-right-sidebar .tab-panel .tab-content{height:100%;position:relative;width:100%;padding:0;background:0 0;display:table-cell;overflow:hidden;}
.be-right-sidebar .tab-panel .tab-content .tab-pane{height:100%;position:relative;width:100%;}
.be-right-sidebar .tab-panel .tab-content .tab-pane h2{font-size:1.154rem;font-weight:400;padding-bottom:15px;border-bottom:1px solid #ebebeb;padding-left:5px;margin-bottom:20px;margin-top:18px;}
.be-right-sidebar .bottom-input{position:relative;border-top:1px solid #f2f2f2;}
.be-right-sidebar .bottom-input>input{border:0;background-color:#fafafa;color:#404040;width:100%;font-size:1rem;font-weight:400;padding:15px 20px;outline:0;}
.be-right-sidebar .bottom-input>span{position:absolute;color:#aaa;right:15px;top:50%;font-size:1.538rem;margin-top:-10px;cursor:pointer;}
.be-right-sidebar .bottom-input>span:hover{color:#d1d1d1;}
@media (max-width:767.98px){
    .be-right-sidebar{width:290px;right:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);margin-top:0;padding-bottom:0;}
}
@media (max-width:320px){
    .be-right-sidebar{width:90%;}
}
.tab-chat{white-space:nowrap;font-size:0;width:290px;}
.tab-chat h2{margin:30px 20px 15px;line-height:1.1;}
.tab-chat .contact-list{font-size:.9231rem;}
.tab-chat .contact-list .user a{display:block;padding:11px 25px;overflow:hidden;}
.tab-chat .contact-list .user a img{width:30px;height:30px;border-radius:50%;float:left;}
.tab-chat .contact-list .user a .user-data,.tab-chat .contact-list .user a .user-data2{padding-left:40px;line-height:16px;}
.tab-chat .contact-list .user a .user-data .status,.tab-chat .contact-list .user a .user-data2 .status{background-color:#00b777;border-radius:50%;float:right;width:7px;height:7px;position:relative;top:5px;}
.tab-chat .contact-list .user a .user-data .status.offline,.tab-chat .contact-list .user a .user-data2 .status.offline{background-color:#e65a5a;}
.tab-chat .contact-list .user a .user-data .status.away{background-color:#f2c329;}
.tab-chat .contact-list .user a .user-data .name,.tab-chat .contact-list .user a .user-data2 .name{color:#404040;font-weight:500;font-size:1rem;}
.tab-chat .contact-list .user a .user-data .message{display:block;color:#999;font-size:1rem;}
.tab-chat .contact-list .user a .user-data2{margin-top:7px;}
.tab-chat .contact-list .user a:hover{background-color:#f5f5f5;}
.tab-chat .contact-list-recent{margin-bottom:30px;}
.tab-chat .chat-contacts,.tab-chat .chat-window{height:100%;width:100%;display:table;table-layout:fixed;position:absolute;left:0;-webkit-transition:left .3s ease;transition:left .3s ease;}
.tab-chat .chat-contacts .chat-sections{height:100%;display:table-row;}
.tab-chat .chat-contacts .chat-sections .be-scroller-chat{position:relative;width:100%;height:100%;overflow:hidden;}
.tab-chat .chat-contacts .chat-sections .content{position:absolute;width:100%;top:0;bottom:0;}
.tab-chat .chat-window{height:100%;left:290px;display:table;table-layout:fixed;}
.tab-chat .chat-window .title{padding:20px 10px;padding-right:20px;overflow:hidden;}
.tab-chat .chat-window .title .icon{font-size:2.077rem;width:27px;text-align:center;color:#b3b3b3;position:relative;vertical-align:middle;cursor:pointer;}
.tab-chat .chat-window .title .user{display:inline-block;float:right;text-align:right;line-height:13px;}
.tab-chat .chat-window .title .user img{height:35px;width:35x;border-radius:50%;float:right;margin-left:10px;}
.tab-chat .chat-window .title .user h2{display:inline-block;margin:0;padding:0;border:0;}
.tab-chat .chat-window .title .user span{display:block;font-size:.9231rem;color:#999;}
.tab-chat .chat-window .chat-messages{height:100%;display:table-row;font-size:1rem;}
.tab-chat .chat-window .chat-messages .be-scroller-messages{position:relative;width:100%;height:100%;overflow:hidden;outline:0;}
.tab-chat .chat-window .chat-messages .content{position:absolute;width:100%;top:0;bottom:0;}
.tab-chat .chat-window .chat-messages ul{outline:0;margin:0;padding:0;}
.tab-chat .chat-window .chat-messages ul>li{display:block;list-style:none;padding:9px 16px;}
.tab-chat .chat-window .chat-messages ul>li .msg{position:relative;display:inline-block;background-color:#4c8bf5;color:#fff;font-size:1rem;padding:6px 8px;border-radius:3px;white-space:normal;text-align:left;margin-left:40px;}
.tab-chat .chat-window .chat-messages ul>li .msg:after{content:"";position:absolute;right:-5px;top:7px;border-bottom:6px solid transparent;border-left:6px solid #4c8bf5;border-top:6px solid transparent;}
.tab-chat .chat-window .chat-messages ul>li.friend .msg{background-color:#f0f0f0;color:#595858;margin-left:0;margin-right:40px;}
.tab-chat .chat-window .chat-messages ul>li.friend .msg:after{right:auto;left:-5px;border-left-width:0;border-right:5px solid #f0f0f0;}
.tab-chat .chat-window .chat-messages ul>li.self{text-align:right;}
.tab-chat .chat-window .chat-input{position:relative;}
.tab-chat .chat-window .chat-input .input-wrapper{border-top:1px solid #f2f2f2;}
.tab-chat .chat-window .chat-input .input-wrapper>input{border:0;background-color:#fafafa;color:#b3b3b3;width:100%;font-size:1rem;font-weight:300;padding:15px 20px;padding-left:42px;padding-right:40px;outline:0;}
.tab-chat .chat-window .chat-input .input-wrapper>span{position:absolute;color:#aaa;right:15px;top:50%;font-size:1.538rem;margin-top:-10px;cursor:pointer;}
.tab-chat .chat-window .chat-input .input-wrapper>span:hover{color:#d1d1d1;}
.tab-chat .chat-window .chat-input .input-wrapper .photo{left:15px;font-size:1.692rem;top:50%;right:auto;}
.tab-todo .todo-container{height:100%;display:table;table-layout:fixed;width:100%;}
.tab-todo .todo-wrapper{display:table-row;height:100%;}
.tab-todo .be-scroller-todo{position:relative;overflow:hidden;height:100%;}
.tab-todo .todo-content{padding:10px 20px 0;position:absolute;top:0;left:0;width:100%;height:100%;}
.tab-todo .category-title{display:block;font-size:1.154rem;font-weight:400;color:gray;padding-top:15px;padding-bottom:15px;border-bottom:1px solid #ebebeb;margin-bottom:15px;}
.todo-list{list-style:none;padding:4px 0 1px;margin-bottom:15px;}
.todo-list>li{margin:0;padding:0;}
.todo-list>li .custom-checkbox{display:block;margin-right:4px;}
.todo-list>li .custom-checkbox.custom-control{margin-bottom:1rem;}
.todo-list>li .custom-checkbox input[type=checkbox]~.custom-control-label{display:block;cursor:pointer;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;line-height:1.4;}
.todo-list>li .custom-checkbox input[type=checkbox]~.custom-control-label::before{margin-right:8px;}
.todo-list>li .custom-checkbox input[type=checkbox]:checked~.custom-control-label{text-decoration:line-through;color:#999;}
.todo-list>li .custom-checkbox .delete{display:none;float:right;font-size:1.308rem;color:#b3b3b3;line-height:22px;margin-left:5px;cursor:pointer;}
.todo-list>li .custom-checkbox .delete:hover{color:gray;}
.todo-list>li .custom-checkbox:hover .delete{display:inline-block;}
.tab-settings .settings-wrapper{position:relative;height:100%;overflow:hidden;}
.tab-settings .be-scroller-settings{padding:10px 20px 0;position:absolute;top:0;left:0;width:100%;height:100%;}
.tab-settings .category-title{display:block;font-size:1.154rem;font-weight:400;color:gray;padding-top:15px;padding-bottom:15px;border-bottom:1px solid #ebebeb;margin-bottom:15px;}
.settings-list{list-style:none;padding-left:0;margin-bottom:15px;}
.settings-list>li{margin:0;padding:5px 0;line-height:24px;font-size:1.077rem;}
.settings-list>li .name{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.settings-list>li .switch-button{float:right;margin-left:5px;}
.switch-button{display:inline-block;border-radius:50px;background-color:#b3b3b3;width:60px;height:27px;padding:4px;position:relative;vertical-align:middle;}
.switch-button input[type=checkbox]{position:absolute;z-index:-1;opacity:0;}
.switch-button label{border-radius:50%;-webkit-box-shadow:0 0 1px 1px #fff inset;box-shadow:0 0 1px 1px #fff inset;background-color:#fff;margin:0;height:19px;width:19px;z-index:1;display:inline-block;cursor:pointer;background-clip:padding-box;}
.switch-button label:before{position:absolute;font-size:.8462rem;font-weight:600;z-index:0;content:"OFF";right:0;display:block;width:100%;height:100%;line-height:27px;top:0;text-align:right;padding-right:10px;color:#fff;border-radius:50px;}
.switch-button input[type=checkbox]:checked+span{border-radius:50px;background-color:#4285f4;display:block;position:absolute;top:0;left:0;width:100%;height:100%;padding:4px;}
.switch-button input[type=checkbox]:checked+span label{float:right;border-color:#2a75f3;}
.switch-button input[type=checkbox]:checked+span label:before{position:absolute;font-size:.8462rem;font-weight:600;z-index:0;content:"ON";color:#fff;left:0;text-align:left;padding-left:10px;}
.switch-button input[type=checkbox]:focus+span label:before{-webkit-box-shadow:0 0 0 .15rem rgba(135,135,135,.3);box-shadow:0 0 0 .15rem rgba(135,135,135,.3);}
.switch-button input[type=checkbox]:checked:focus+span label:before{-webkit-box-shadow:0 0 0 .15rem rgba(66,133,244,.5);box-shadow:0 0 0 .15rem rgba(66,133,244,.5);}
.switch-button.switch-button-sm{height:24px;width:57px;line-height:20px;}
.switch-button.switch-button-sm label{height:16px;width:16px;}
.switch-button.switch-button-sm label:before{line-height:25px;}
.custom-control{min-height:1.7rem;min-width:1.7rem;margin-top:.1875rem;margin-bottom:1.1105rem;}
.custom-control-label{position:static;display:inline-block;line-height:1.7;}
.custom-control-label:after,.custom-control-label:before{top:0;left:0;}
.custom-control-input:checked~.custom-control-label::after{color:#4285f4;}
.custom-control-input:checked~.custom-control-label::before{border-color:#4285f4;}
.custom-control-input:disabled:checked~.custom-control-label::before{border-color:#ccc;}
.custom-control-input:disabled:checked~.custom-control-label::after{color:#ccc;}
.custom-checkbox .custom-control-label:before{content:"";width:1.699rem;height:1.699rem;border:1px solid #ccc;border-radius:3px;margin:0 0;}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after{content:"\f26b";font-size:1.5452rem;font-family:"Material Icons";margin:0 0;font-weight:400;text-align:center;line-height:1.1;}
.custom-control-sm{min-width:1.38462rem;min-height:1.38462rem;}
.custom-control-sm .custom-control-input~.custom-control-label::before{width:1.38462rem;height:1.38462rem;}
.custom-control-sm .custom-control-input:checked~.custom-control-label::after{width:1.38462rem;height:1.38462rem;font-size:15px;right:0;line-height:1.2;vertical-align:top;}
.nav-tabs{background-color:#fff;border-bottom:2px solid #ebebeb;}
.nav-tabs>li.nav-item{margin-bottom:-2px;margin-right:2px;}
.nav-tabs>li.nav-item a.nav-link{padding:11px 20px;margin-right:0;min-width:60px;text-align:center;border-radius:0;color:#404040;border-width:0;}
.nav-tabs>li.nav-item a.nav-link:hover{background:0 0;color:#4285f4;}
.nav-tabs>li.nav-item a.nav-link:active{background-color:transparent;}
.nav-tabs>li.nav-item a.nav-link.active{background:0 0;border-bottom:2px solid #4285f4;}
.nav-tabs>li.nav-item a.nav-link.active:focus,.nav-tabs>li.nav-item a.nav-link.active:hover{color:#404040;}
.tab-content{background:#fff;padding:20px;margin-bottom:40px;border-radius:0 0 3px 3px;}
.tab-content .tab-pane h2:first-child{margin-top:5px;}
h2{margin-top:20px;margin-bottom:10px;}
ul{line-height:20px;}
label{font-weight:400;font-size:1rem;margin-bottom:8px;color:#666;}
.ps:hover>.ps__rail-y{background-color:transparent;}
.ps:hover>.ps__rail-y:hover{width:6px;background-color:#eee;}
.ps:hover>.ps__rail-y>.ps__thumb-y{right:0;width:6px;border-radius:3px;background-color:rgba(0,0,0,.25);}
.ps>.ps__rail-y{width:6px;background-color:rgba(0,0,0,.1);}
.ps>.ps__rail-y>.ps__thumb-y{right:0;width:6px;border-radius:3px;background-color:rgba(0,0,0,.25);}
/*! CSS Used fontfaces */
@font-face{font-family:Material Icons;src:url(/fonts/Material-Design-Iconic-Font.woff2?v=2.2.0) format('woff2'),url(/fonts/Material-Design-Iconic-Font.woff?v=2.2.0) format('woff'),url(fonts/Material-Design-Iconic-Font.ttf?v=2.2.0) format('truetype');}